<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button text="" icon="add"></ion-back-button>
    </ion-buttons>
    <ion-title>
      Editar Perfil
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div id="header">
    <img src="https://avatars.dicebear.com/api/avataaars/{{nombre}}.svg" />
  </div>
  <form action="">
    <ion-label position="stacked">Usuario:</ion-label>
    <ion-input placeholder="Nuevo Usuario">
      <ion-icon name="person-circle-outline"></ion-icon>&nbsp;
    </ion-input>
    <ion-label position="stacked">Correo:</ion-label>
    <ion-input placeholder="Nuevo Correo">
      <ion-icon name="mail-outline"></ion-icon>&nbsp;
    </ion-input>
    <ion-label position="stacked">Contraseña:</ion-label>
    <ion-input placeholder="Nueva Contraseña">
      <ion-icon name="lock-closed-outline"></ion-icon>&nbsp;
    </ion-input>
    <ion-label position="stacked">Confirmar Contraseña:</ion-label>
    <ion-input placeholder="Confirmar Contraseña">
      <ion-icon name="lock-closed-outline"></ion-icon>&nbsp;
    </ion-input>
    <ion-button expand="block" color="color-botton">
      Actualizar Datos
    </ion-button>
  </form>

  <ion-button expand="block" id="btn-eliminar"color= "danger">Eliminar Perfil</ion-button>
</ion-content>
