<ion-header>
  <ion-toolbar>
    <ion-title>Recuperar</ion-title>
    <ion-buttons slot="start">
      <ion-back-button style="color: #58d1e1;"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div id="header">
    <ion-img src="assets/img/recuperar.png"></ion-img>
  </div>
  <form action="">

    <ion-label position="stacked">Usuario:</ion-label>
    <ion-input></ion-input>
    <br>
    <ion-label position="stacked">Correo:</ion-label>
    <ion-input></ion-input>
     <br> 
    <ion-label position="stacked">Nueva Contraseña:</ion-label>
    <ion-input></ion-input>
    <br>
    <ion-button expand="block" color="color-botton" >Recuperar Usuario</ion-button>
  </form>
  
</ion-content>
