<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Login
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <form>
    <h5>Usuario:</h5>
    <ion-input placeholder="Introduzca su Usuario" required [(ngModel)]="usuario" name="user">
      <ion-icon name="person-circle-outline"></ion-icon>&nbsp;
    </ion-input>
    <h5>Contraseña:</h5>
    <ion-input placeholder="Introduce su Contraseña" type="password" required [(ngModel)]="contrasena" name="pass">
      <ion-icon name="lock-closed-outline"></ion-icon>&nbsp;
    </ion-input>
    <ion-item class="sesion">
      <ion-toggle [(ngModel)]="esGuardarSesion" (ionChange)="change()" mode="md" name="esGuardarSesion" color="tertiary"></ion-toggle>&nbsp;<ion-label>Mantener Sesión Iniciada</ion-label>
    </ion-item>
    <h3>¿Olvidó su contraseña?</h3>
    <ion-button expand="block" shape="round" color="color-botton" type="submit" (click)="login()">Login</ion-button>
    <h2>O</h2>
    <ion-button expand="block" shape="round" color="color-botton" routerLink="/registro">Registrarse</ion-button>
  </form>
  <br>
</ion-content>

