
<ion-content [fullscreen]="true">
  <div id="header">
      <h1>Inicio de Sesión</h1>
  </div>

  <form id="#form">
    <h5>Correo:</h5>
    <ion-input placeholder="Introduce el correo">
      <ion-icon name="person-circle-outline"></ion-icon>
    </ion-input>
    <br>
    <h5>Contraseña:</h5>
    <ion-input placeholder="Introduce la contraseña">
      <ion-icon name="lock-closed-outline"></ion-icon>
    </ion-input>
    <h3>Olvido su contraseña?</h3>
    <br> 
    <ion-button expand="block" shape="round" color="tercero">Login</ion-button>
    <h2>O</h2>
    <ion-button expand="block" shape="round" color="tercero">Registrarse</ion-button>
    
  </form>
  <br>
  <br>
  <ion-footer  class="ion-no-border">
    <ion-toolbar id="footer">
      <h4>Hecho con ❤️ </h4>
    </ion-toolbar>
  </ion-footer>

</ion-content>
