<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button text="" icon="add"></ion-back-button>
    </ion-buttons>
    <ion-title>
      Editar Perfil
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div id="header">
    <br>
    <ion-img src="assets/img/Sample_User_Icon.png" style="width: 30%;"></ion-img>
    <br>
  </div>
    <div id="datos">
      <form action="">
        <br>
        <ion-label position="stacked">Usuario:</ion-label>
        <ion-input placeholder="">
          <ion-icon name="person-circle-outline"></ion-icon>&nbsp;
        </ion-input>
        <ion-label position="stacked">Correo:</ion-label>
          <ion-input placeholder="">
            <ion-icon name="mail-outline"></ion-icon>&nbsp;
          </ion-input> 
          <ion-label position="stacked">Contraseña:</ion-label>
        <ion-input placeholder="">
          <ion-icon name="lock-closed-outline"></ion-icon>&nbsp;
        </ion-input>
        <ion-label position="stacked">Confirmar Contraseña:</ion-label>
          <ion-input placeholder="">
            <ion-icon name="lock-closed-outline"></ion-icon>&nbsp;
          </ion-input>          
      </form>
      <ion-button expand="block" color="color-botton">
        Actualizar Datos
      </ion-button>
      <br>
    </div>
</ion-content>
