<ion-header [translucent]="true">
  <ion-toolbar>

  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <br>
  <div id="header">
    <ion-img src="assets/img/Sample_User_Icon.png" style="width: 30%;"></ion-img>
    <h1>Registro</h1>
  </div>

  <form>
    <h5>Usuario:</h5>
    <ion-input placeholder="Introduzca su Usuario" required [(ngModel)]="usuario" name="user">
      <ion-icon name="person-circle-outline"></ion-icon>&nbsp;
    </ion-input>
    <h5>Contraseña:</h5>
    <ion-input placeholder="Introduzca su Contraseña" type="password" required [(ngModel)]="contrasena" name="pass">
      <ion-icon name="lock-closed-outline"></ion-icon>&nbsp;
    </ion-input>
    <h5>Correo:</h5>
    <ion-input placeholder="Introduzca su Email" type="email" required [(ngModel)]="email" name="pass">
      <ion-icon name="mail-outline"></ion-icon>&nbsp;
    </ion-input>
    <br>
    <ion-button expand="block" shape="round" color="tercero" routerLink="/home">Registrarse</ion-button>
  </form>

  <br>
  <br>

  <ion-footer  class="ion-no-border">
    <ion-toolbar id="footer">
      <h4>Hecho con ❤️</h4>
    </ion-toolbar>
  </ion-footer>

</ion-content>
