ion-content{
  --background: linear-gradient(#80FFDB, #56CFE1);
  #header{
      margin-bottom: 20px;
      padding-left: 33%;
      border-radius: 20%;
      
  }
  #span-error{
    padding-top: 5px;
    color: red;
  }
  form{
      background: white;
      margin-left: 20px;
      margin-right: 20px;
      padding-left: 20px;
      padding-right: 20px;
      padding-top: 40px;
      padding-bottom: 40px;
      border-radius: 10px;
  }
  ion-label{
      padding-top: 5px;
      padding-bottom: 5px;
      color: #474448;
  }
  ion-input{
      padding-top: 5px;
      padding-bottom: 5px;
      border-bottom: solid #474448;
      color: #474448;
  }
  ion-button{
      text-align: center;
  }
}
ion-toolbar{
  align-items: center;
  --background: white;
  --min-height:35px
}
ion-title{
  font-size: 15px;
  text-align: center;
  color: black;
}
ion-img{
  border-radius: 50px;
  width: 50%;
  background: white;
}

.ion-color-color-botton {
  --ion-color-base: var(--ion-color-color-botton);
  --ion-color-base-rgb: var(--ion-color-color-botton-rgb);
  --ion-color-contrast: var(--ion-color-color-botton-contrast);
  --ion-color-contrast-rgb: var(--ion-color-color-botton-contrast-rgb);
  --ion-color-shade: var(--ion-color-color-botton-shade);
  --ion-color-tint: var(--ion-color-color-botton-tint);
}