<ion-header>
  <ion-toolbar>
    <ion-title>Registrarse</ion-title>
    <ion-buttons slot="start">
      <ion-back-button style="color: #58d1e1;"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <br>
  <br>
  <div id="header">
    <ion-img src="assets/img/Sample_User_Icon.png"></ion-img>
  </div>

  <form [formGroup]="ionicForm" (ngSubmit)="submitForm()">
    <ion-label position="stacked">Usuario:</ion-label>
    <ion-input placeholder="Introduzca su Usuario" required type="text" formControlName="usuario"><ion-icon name="person-circle-outline"></ion-icon>&nbsp;</ion-input>
    <!-- Verificación si Usuario ingresó datos correctos. -->
    <div class="ion-text-center" id="span-error">
      <span class="error ion-padding" *ngIf="esEnviadoFormulario && errorControl.usuario.errors?.required">
        Ingrese un nombre de usuario.
      </span>
      <span class="error ion-padding" *ngIf="esEnviadoFormulario && errorControl.usuario.errors?.minlength || errorControl.usuario.errors?.maxlength">
        Ingrese entre 4 a 10 caracteres.
      </span>
    </div>
    <br>
    <ion-label position="stacked">Correo:</ion-label>
    <ion-input placeholder="Introduzca su Email" type="email" required formControlName="email"><ion-icon name="mail-outline"></ion-icon>&nbsp;</ion-input>
    <!-- Verificación si Usuario ingresó datos correctos. -->
    <div class="ion-text-center" id="span-error">
      <span class="error ion-padding" *ngIf="esEnviadoFormulario && errorControl.email.errors?.required">
        Ingrese un correo.
      </span>
      <span class="error ion-padding" *ngIf="esEnviadoFormulario && errorControl.email.errors?.pattern">
        Ingrese correo institucional.
      </span>
    </div>
    <br> 
    <ion-label position="stacked">Nueva Contraseña:</ion-label>
    <ion-input placeholder="Introduzca su Contraseña" type="password" required formControlName="contrasena"><ion-icon name="lock-closed-outline"></ion-icon>&nbsp;</ion-input>
    <!-- Verificación si Usuario ingresó datos correctos. -->
    <div class="ion-text-center" id="span-error">
      <span class="error ion-padding" *ngIf="esEnviadoFormulario && errorControl.contrasena.errors?.required">
        Ingrese una contraseña.
      </span>
      <span class="error ion-padding" *ngIf="esEnviadoFormulario && errorControl.contrasena.errors?.minlength || errorControl.contrasena.errors?.maxlength">
        Ingrese entre 8 a 16 caracteres.
      </span>
    </div>
    <br>
    <ion-button type="submit" expand="block" shape="round" color="color-botton" routerLink="/registro">Registrarse</ion-button>
  </form>
</ion-content>
