<ion-header [translucent]="true">
  <ion-toolbar>

  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div id="header">
    <ion-img src="assets/img/Sample_User_Icon.png" style="width: 20%;"></ion-img>
    <h1>Registro</h1><ion-icon size="large"  name="keypad-outline"></ion-icon>
  </div>

  <form [formGroup]="ionicForm" (ngSubmit)="submitForm()">

    <h5>Usuario:</h5>
    <ion-input placeholder="Introduzca su Usuario" required type="text" formControlName="usuario">
      <ion-icon name="person-circle-outline"></ion-icon>&nbsp;
    </ion-input>
    <!-- Verificación si Usuario ingresó datos correctos. -->
    <div class="ion-text-center" id="span-error">
      <span class="error ion-padding" *ngIf="esEnviadoFormulario && errorControl.usuario.errors?.required">
        Ingrese un nombre de usuario.
      </span>
      <span class="error ion-padding" *ngIf="esEnviadoFormulario && errorControl.usuario.errors?.minlength || errorControl.usuario.errors?.maxlength">
        Ingrese entre 4 a 10 caracteres.
      </span>
    </div>

    <h5>Contraseña:</h5>
    <ion-input placeholder="Introduzca su Contraseña" type="password" required formControlName="contrasena">
      <ion-icon name="lock-closed-outline"></ion-icon>&nbsp;
    </ion-input>
    <!-- Verificación si Usuario ingresó datos correctos. -->
    <div class="ion-text-center" id="span-error">
      <span class="error ion-padding" *ngIf="esEnviadoFormulario && errorControl.contrasena.errors?.required">
        Ingrese una contraseña.
      </span>
      <span class="error ion-padding" *ngIf="esEnviadoFormulario && errorControl.contrasena.errors?.minlength || errorControl.contrasena.errors?.maxlength">
        Ingrese entre 8 a 16 caracteres.
      </span>
    </div>

    <h5>Correo:</h5>
    <ion-input placeholder="Introduzca su Email" type="email" required formControlName="email">
      <ion-icon name="mail-outline"></ion-icon>&nbsp;
    </ion-input>
    <!-- Verificación si Usuario ingresó datos correctos. -->
    <div class="ion-text-center" id="span-error">
      <span class="error ion-padding" *ngIf="esEnviadoFormulario && errorControl.email.errors?.required">
        Ingrese un correo.
      </span>
      <span class="error ion-padding" *ngIf="esEnviadoFormulario && errorControl.email.errors?.pattern">
        Ingrese correo institucional.
      </span>
    </div>

    <br>
    <ion-button type="submit" expand="block" shape="round" color="tercero" routerLink="/registro">Registrarse</ion-button>

  </form>

  <br>
  <br>

  <ion-footer  class="ion-no-border">
    <ion-toolbar id="footer">
      <h4>Hecho con ❤️</h4>
    </ion-toolbar>
  </ion-footer>

</ion-content>
